/**************** Intro Section - Mobile/Tablet ****************/
.mobile-portfolio-header {
  padding: 10px;
  color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.mobile-portfolio-header h1 {
  font-size: 26px;
}

.mobile-portfolio-header p {
  font-size: 18px;
  opacity: 0.9;
  text-align: left;
}

.mobile-portfolio-header .portfolio-pic {
  width: 100%; 
  flex-shrink: 0; 
}

.mobile-portfolio-header .intro-text {
    padding: 20px;
    margin-top: 1em;
}

@media (max-width: 700px){
  .mobile-portfolio-header .portfolio-pic .flip-pic .flip-pic-front, .flip-pic-back {
    padding: 0;
    flex-shrink: 0; 
  }
}
.portfolio-pic{
  text-align: center;
  padding-top: 1em;
}

@media (min-width: 700px) and (max-width: 884px){
  .portfolio-pic{
    text-align: center;
    padding-top: 2em;
  }
}

.intro-text p{
  padding: 0;
  margin: 0;
  font-size: 20px;
  position: relative;
}


/**************** Intro Section - Desktop ****************/
.desktop-portfolio-header {
  padding: 20px;
  color: white;
  display: flex; /* Add this */
  align-items: center;
  gap: 2rem;
}

.desktop-portfolio-header .portfolio-pic {
  width: 50%; /* Give explicit width */
  flex-shrink: 0; /* Prevent it from shrinking */
}

@media (min-width: 884px){
  .portfolio-pic{
    text-align: center;
    padding-top: 4em;
  }
}

.portfolio-pic img{
  width: 80%;
}
.intro-text{
  justify-content: center;
  text-align: left;
  margin: 0 auto;
}
@media (min-width: 885px){
  .intro-text{
    max-width: 600px;
  }
  .intro-text h1{
    padding: 0 0 1em 0;
    margin: 0;
    font-size: calc(30px + 1vw);
  }
  .intro-text p{
    padding: 0;
    margin: 0;
    font-size: calc(10px + 1vw);
  }
}

@media (min-width: 700px){
  .intro-text h1{
    padding: 1em 0 1em 0;
    margin: 0;
    font-size: calc(25px + 1vw);
  }
  .intro-text p{
    padding: 0;
    margin: 0;
    font-size: calc(15px + 1vw);
  }
}
@media (max-width: 350px) {
  .typing{
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    min-width: 250px
  }
  .intro-text p::after {
    content: "";
    display: inline-block;
    width: 250px; /* Same as typing min-width */
    height: 0;
}
}

.typing{
  display: inline;
}