.Home {
    text-align: center;
  }
  
  .Home-content {
    background-color: #15151E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    padding: 20px;
  }
  
  .grid-item {
    padding: 10px; 
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .Home-separator {
    width: 95%;
    height: 2px;
    border-bottom: 1px solid rgb(255, 255, 255);
    transform: translate(5vh, 0%);
    position: absolute;
  }

  .cloud-div{
    padding: 1% 5% 5% 5%;
    position: relative;
    overflow: hidden;
  }
  
  .project{
    padding-top: 5%;
    width: 1351px;
    height: 398px;
    overflow: hidden;
  }
  
  .clouds{
    position: absolute;
    width: 700px; 
    height: 700px; 
  }
  
  @keyframes moveCloudRight {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(80%, -50%);
    }
  }
  
  
  @keyframes moveCloudLeft {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-200%, -50%);
    }
  }
  
  
  
  
  #cloud1{
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    animation-play-state: paused;
  }
  
  .project:hover #cloud1 {
    animation: moveCloudLeft 5s forwards;
  }
  
  .project:not(:hover) #cloud1 {
    animation: easeIn 2s forwards; 
    /*probably has to be a function that takes in the exact transform that the cloud is currently at to ease in properly*/
  }
  
  #cloud2{
    top: 50%; 
    left: 26%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
  }
  
  .project:hover #cloud2 {
    animation: moveCloudLeft 2s forwards;
  }
  
  #cloud3{
    top: 56%; 
    left: 40%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
  }
  
  .project:hover #cloud3 {
    animation: moveCloudLeft 4s forwards;
  }
  
  #cloud4{
    top: 50%; 
    left: 74%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
  }
  
  .project:hover #cloud4 {
    animation: moveCloudRight 2s forwards;
  }
  
  #cloud5{
    top: 44%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
  }
  
  .project:hover #cloud5 {
    animation: moveCloudRight 5s forwards;
  }
  
  #cloud6{
    top: 54%; 
    left: 76%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
  }
  
  .project:hover #cloud6 {
    animation: moveCloudRight 4s forwards;
  }
  
  .reveal{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .reveal-animation::before {
    content: '';
    position: absolute;
    top: 140px;
    width: 20%;
    height: 60%; 
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    opacity: .25;
    transform: skewX(-15deg);
    animation: shimmer 1.0s infinite 1s;
    z-index: 1;
  }
  
  /* Keyframes for shimmer animation */
  @keyframes shimmer {
    0% {
      left: 5%; /* Start position off-screen to the left */
    }
    100% {
      left: 73%; /* End position off-screen to the right */
    }
  }