.flip-pic {
  background-color: transparent;
  width: 100%;
  height: calc(300px - 2vmin);
  cursor: pointer;
}

.flip-pic-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-pic-inner.flipped {
  transform: rotateY(180deg);
}

.flip-pic-front, .flip-pic-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}


.flip-pic-back {
  transform: rotateY(180deg);
}