.Portfolio {
  text-align: center;
}

.Portfolio-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Portfolio-header h1 {
  margin-bottom: 16px;
}

.Portfolio-header p {
  font-size: 18px;
  opacity: 0.8;
}