.project {
    animation: floating 3s ease-in-out infinite; 
    display: inline-block; 
    text-align: center; 
    margin: 1rem; 
}

.project button {
    background: none;
    border: none;
    cursor: pointer;
    display: block; /* Make button full width */
    width: 100%;
}

.project img {
    width: 100%;
    height: 175px; /* Set fixed height */
    object-fit: cover;
    border-radius: 20px; /* Match parent radius */
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.project p {
    text-align: center;
    margin: 0.5rem 0;
    font-weight: 500;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}